.container-with-dots {
  margin-top: 20px;
  padding-bottom: 30px;
}

.carousel-item-padding-20-px {
  padding-right: 10px;
  align-items: stretch;
}

.custom-dot {
  border: none;
  /*margin: 10px;*/
  outline: none;
}
.custom-dot--active {
  /*transform: scale(1.3);*/
  outline: auto;
}