.container-with-dots {
  margin-top: 20px;
  padding-bottom: 20px;
  padding-left: 0;
  padding-right: 0;
}

.carousel-item-padding-x-10-px {
  /*padding-right: 10px;*/
  padding-left: 5px;
  padding-right: 5px;
  align-items: stretch;
}

.react-multiple-carousel__arrow--right {
  right: calc(1.25%);
}

.react-multiple-carousel__arrow--left {
  left: calc(1.25%);
}
